@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #5372A4;
  --color-secondary: #FFA3A3;
  --color-tertiary: #9EBAC8;
  --color-text: #171717; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Work Sans, sans-serif;
}

p, h2, h3, h4, h5, h6, span {
  color: var(--color-text);
}

h1 {
  color: var(--color-primary);
}
p {
  color: #8a8888;
}
